html { 
  background: url(/img/bgV1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.logo {
  display: block;
  margin-right: auto;
  margin-left: auto;
}