html, body, .container {
  height: 100%;
}
html { 
  background: url(/img/bgV1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.logo {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: -8px;
}
.container {
  position: relative;
}
.socialMediaIcons {
  width: 140px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -70px;
}
img {
  padding: 0 2px;
}